/build
/app/build
/app/VERSION
/tools
/deps
/.microros-tutorial-workspace/**
!/.microros-tutorial-workspace/init.sh
eeprom.bin

# macOS
*.DS_Store

# Python
__pycache__
.python-version
.venv
_generated

# clangd
app/.cache/
.vscode/compile_commands.json

# compliance checks
compliance.xml
BoardYml.txt
Gitlint.txt
Identity.txt
Kconfig.txt
KconfigBasic.txt
KconfigBasicNoModules.txt
KconfigHWMv2.txt
LicenseAndCopyrightCheck.txt
Pylint.txt
Ruff.txt
SysbuildKconfig.txt
