/build
/app/build
/tools
/deps
/.microros-tutorial-workspace/**
!/.microros-tutorial-workspace/init.sh
eeprom.bin

# macOS
*.DS_Store

# Python
__pycache__
.python-version
.venv

# clangd
app/.cache/
.vscode/compile_commands.json