/.west
/bootloader
/build
/modules
/tools
/zephyr
/.microros-tutorial-workspace/**
!/.microros-tutorial-workspace/init.sh

# macOS
*.DS_Store

# Python
__pycache__
.python-version
.venv

# clangd
app/.cache/
