# ==========================================================
# 1. Interface Config (Internal USB-JTAG of ESP32-S3)
# ==========================================================
adapter driver esp_usb_jtag
espusbjtag vid_pid 0x303a 0x1001
espusbjtag caps_descriptor 0x2000

# ==========================================================
# 2. Target Config (ESP32-S3)
# ==========================================================
set _CHIPNAME esp32s3
set _TARGETNAME $_CHIPNAME
set _CPUTAPID 0x120034e5

jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id $_CPUTAPID

# CHANGED: Removed "-rtos FreeRTOS" from these lines
target create $_TARGETNAME.cpu0 esp32s3 -chain-position $_CHIPNAME.cpu
target create $_TARGETNAME.cpu1 esp32s3 -chain-position $_CHIPNAME.cpu -coreid 1

# Flash driver
flash bank $_CHIPNAME.flash esp32s3 0x0 0 0 0 $_TARGETNAME.cpu0
flash bank $_CHIPNAME.irom  esp32s3 0x0 0 0 0 $_TARGETNAME.cpu0

# Speed
adapter speed 5000
