#include <zephyr/dt-bindings/pwm/pwm.h>

/ {
    chosen {
        zephyr,console = &usb_serial;
        zephyr,shell-uart = &usb_serial;
    };
    aliases {
        // servo0 = &led_15;
        // servo1 = &led_16;
        led0 = &led_40;
        led1 = &led_41;
        qdec0 = &pcnt;
        motor-left = &esc_left;
        motor-right = &esc_right;
    };
    pwmleds {
        compatible = "pwm-leds";
        // led_15: led_15 {
            //     pwms = <&ledc0 0 20000000 PWM_POLARITY_NORMAL>;
        // };
        // led_16: led_16 {
            //     pwms = <&ledc0 1 20000000 PWM_POLARITY_NORMAL>;
        // };
        led_40: led_40 {
            pwms = <&ledc0 2 20000000 PWM_POLARITY_NORMAL>;
        };
        led_41: led_41 {
            pwms = <&ledc0 3 20000000 PWM_POLARITY_NORMAL>;
        };
    };

    esc_right: esc_right {
        compatible = "kabot,esc";
        pwms = <&ledc0 0 20000000 PWM_POLARITY_NORMAL>;
        reverse-pulse = <1000000>;
        stop-pulse = <1500000>;
        forward-pulse = <2000000>;
    };

    esc_left: esc_left {
        compatible = "kabot,esc";
        pwms = <&ledc0 1 20000000 PWM_POLARITY_NORMAL>;
        reverse-pulse = <1000000>;
        stop-pulse = <1500000>;
        forward-pulse = <2000000>;
    };
};

&pinctrl {
    ledc0_default: ledc0_default {
        group1 {
            pinmux = <LEDC_CH0_GPIO15>,
                     <LEDC_CH1_GPIO16>,
                     <LEDC_CH2_GPIO40>,
                     <LEDC_CH3_GPIO41>;
            output-enable;
        };
    };
    pcnt_default: pcnt_default {
        group1 {
            pinmux = <PCNT0_CH0SIG_GPIO5>,
                     <PCNT0_CH0CTRL_GPIO4>,
                     <PCNT1_CH0SIG_GPIO8>,
                     <PCNT1_CH0CTRL_GPIO11>;
            bias-pull-up;
        };
    };
};

&pcnt {
    pinctrl-0 = <&pcnt_default>;
    pinctrl-names = "default";
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;

    unit0@0 {
        reg = <0>;
        #address-cells = <1>;
        #size-cells = <0>;
        filter = <100>;
        // counts-per-revolution = <4096>;

        channelA@0 {
            reg = <0>;
            sig-pos-mode = <2>;
            sig-neg-mode = <1>;
            ctrl-h-mode = <0>;
            ctrl-l-mode = <1>;
        };
    };

    unit1@1 {
        reg = <1>;
        #address-cells = <1>;
        #size-cells = <0>;
        filter = <100>;
        // counts-per-revolution = <4096>;

        channelA@0 {
            reg = <0>;
            sig-pos-mode = <2>;
            sig-neg-mode = <1>;
            ctrl-h-mode = <0>;
            ctrl-l-mode = <1>;
        };
    };
};

&ledc0 {
    pinctrl-0 = <&ledc0_default>;
    pinctrl-names = "default";
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;

    channel0@0 {
        reg = <0x0>;
        timer = <0>;
    };
    channel1@1 {
        reg = <0x1>;
        timer = <0>;
    };
    channel2@2 {
        reg = <0x2>;
        timer = <1>; // Using a second timer is optional but common for organization
    };
    channel3@3 {
        reg = <0x3>;
        timer = <1>;
    };
};

&coretemp {
    status = "okay";
};

&flash0 {
    /delete-node/ partitions;
};

&flash0 {
    reg = <0x0 DT_SIZE_M(16)>;
};

#include <espressif/partitions_0x0_amp_16M.dtsi>

&psram0 {
    size = <DT_SIZE_M(8)>;
};

&usb_serial {
    status = "okay";
};
