#include <zephyr/dt-bindings/pwm/pwm.h>

/ {
    chosen {
        zephyr,console = &usb_serial;
        zephyr,shell-uart = &usb_serial;
    };
    aliases {
        qdec0 = &pcnt;
        motor-left = &hbridge_left;
        motor-right = &hbridge_right;
    };

    hbridge_right: hbridge_right {
        compatible = "kabot,h-bridge";
        pwms = <&ledc0 0 100000 PWM_POLARITY_NORMAL>,
             <&ledc0 1 100000 PWM_POLARITY_NORMAL>;
    };

    hbridge_left: hbridge_left {
        compatible = "kabot,h-bridge";
        pwms = <&ledc0 2 100000 PWM_POLARITY_NORMAL>,
               <&ledc0 3 100000 PWM_POLARITY_NORMAL>;
    };

};

&pinctrl {
    ledc0_default: ledc0_default {
        group1 {
            pinmux = <LEDC_CH0_GPIO41>,
                     <LEDC_CH1_GPIO42>,
                     <LEDC_CH2_GPIO47>,
                     <LEDC_CH3_GPIO48>;
            output-enable;
        };
    };
    pcnt_default: pcnt_default {
        group1 {
            pinmux = <PCNT0_CH0SIG_GPIO5>,
                     <PCNT0_CH0CTRL_GPIO4>,
                     <PCNT1_CH0SIG_GPIO8>,
                     <PCNT1_CH0CTRL_GPIO11>;
            bias-pull-up;
        };
    };
};

&pcnt {
    pinctrl-0 = <&pcnt_default>;
    pinctrl-names = "default";
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;

    unit0@0 {
        reg = <0>;
        #address-cells = <1>;
        #size-cells = <0>;
        filter = <100>;
        counts-per-revolution = <(14 * 298)>;

        channelA@0 {
            reg = <0>;
            sig-pos-mode = <2>;
            sig-neg-mode = <1>;
            ctrl-h-mode = <0>;
            ctrl-l-mode = <1>;
        };
    };

    unit1@1 {
        reg = <1>;
        #address-cells = <1>;
        #size-cells = <0>;
        filter = <100>;
        counts-per-revolution = <(14 * 298)>;

        channelA@0 {
            reg = <0>;
            sig-pos-mode = <2>;
            sig-neg-mode = <1>;
            ctrl-h-mode = <0>;
            ctrl-l-mode = <1>;
        };
    };
};

&ledc0 {
    pinctrl-0 = <&ledc0_default>;
    pinctrl-names = "default";
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;

    channel0@2 {
        reg = <0x0>;
        timer = <0>;
    };
    channel1@1 {
        reg = <0x1>;
        timer = <0>;
    };
    channel2@2 {
        reg = <0x2>;
        timer = <0>;
    };
    channel3@3 {
        reg = <0x3>;
        timer = <0>;
    };
};

&coretemp {
    status = "okay";
};

&flash0 {
    /delete-node/ partitions;
};

&flash0 {
    reg = <0x0 DT_SIZE_M(16)>;
};

#include <espressif/partitions_0x0_amp_16M.dtsi>

&psram0 {
    size = <DT_SIZE_M(8)>;
};

&usb_serial {
    status = "okay";
};
