menuconfig MOTOR_DRIVER_MODULE
    bool "Enable motor driver module"
    default y
    help
      Enables the custom motor driver module.

if MOTOR_DRIVER_MODULE

config KABOT_MOTOR_SHELL
    bool "Motor shell commands"
    default y
    depends on SHELL
    help
      Enables the 'motor' shell command for manual control and listing.

config MOTOR_DRIVER_INIT_PRIORITY
    int "Motor driver init priority"
    default 55
    range 0 999
    help
      Initialization priority for motor driver devices.
      Must be greater than CONFIG_PWM_INIT_PRIORITY so motor drivers are
      initialized after PWM.

endif # MOTOR_DRIVER_MODULE
